<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


	html {
		box-sizing: border-box;
	}
	*, *:before *:after {
		box-sizing: inherit;
		padding: 2px;
		font-family: 'Poppins', sans-serif;
	}
	a {
        text-decoration: none;
    }

    .announcementBox{
    	padding: 10px;
    	margin: 10px;
    }

    .card {
    	border-radius: 15px;
    }
	.quoteText{
		font-family: 'Gloria Hallelujah', cursive;
		font-weight: 700;
	}

	.headerFontLink {
		font-family: 'Poppins', sans-serif;
		font-weight: 500;
		/*opacity: 0.7;*/
	}

	.headerFontLink:hover {
		opacity: 1;
	}
</style>