<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


	html {
		box-sizing: border-box;
	}
	*, *:before *:after {
		box-sizing: inherit;
		padding: 2px
	}
	a {
        text-decoration: none;
    }

    .announcementBox{
    	padding: 10px;
    	margin: 10px;
    }
	.quoteText{
		font-family: 'Gloria Hallelujah', cursive;
		font-weight: 700;
		text-decoration-line: underline;
	}
	.quoteText:hover {
		text-decoration-color: gray
	}
</style>