{% extends 'home/index.html' %}

{% block content %}
<div class="text-sm text-justify p-4" style="margin: 1em; background-color: gray; border-radius: 15px">
    
    <i>
      <p>In the light of the COVID-19 global pandemic outbreak in 2020 <i>(lockdown was in March here in the Philippines)</i>, I decided to try to create a website. <i>(I just tried.)</i> This was because I already had my eye on learning programming using Python a year or two prior and I already am quite knowledgeable of its basics <i>(I was trying to create my own Android app a few months before the pandemic broke out, too. I think I failed at it, tho.)</i> I just decided that since there will be quite a boring time spending days at home doing barely <b>"just anything"</b>: </p>
      <p>scrolling through facebook, watching <i>(pirated)</i> movies & anime series,  I'll try to be as productive as I can be. I also came across this quote saying:</p>

      <p class="text-warning text-bold">"If you don't get a skill or improve one during this home
        quarantine period, you never lacked time; YOU LACKED DISCIPLINE." <br>
        <small>(I can't really remember who said that or where I found it but trust me: someone said it. :D)</small>
      </p>


      <p>Many, many thanks to all my online mentors from Youtube <small><i>(in no particular order)</i></small> for the knowledge they shared
      which enabled me to create this <b>fascinating</b> <i>(what? just kidding!)</i> website template, together with my other project websites!
      <ul class="text-center" style="list-style: none">
        <li>
          <a class="text-dark" href="https://www.youtube.com/channel/UCqrILQNl5Ed9Dz6CGMyvMTQ" target="_blank">CleverProgrammer</a>,
        </li>
        <li>
          <a class="text-dark" href="https://www.youtube.com/user/CodingEntrepreneurs" target="_blank">CodingEntrepreneurs</a>,
        </li>
        <li>
          <a class="text-dark" href="https://www.youtube.com/channel/UCFB0dxMudkws1q8w5NJEAmw" target="_blank">Codemy</a>,
        </li>
        <li>
          <a class="text-dark" href="https://www.youtube.com/user/schafer5" target="_blank">CoreyMS</a>,
        </li>
        <li>
          <a class="text-dark" href="https://www.youtube.com/channel/UCTZRcDjjkVajGL6wd76UnGg" target="_blank">DennisIvy</a> 
        </li>
        <li>
          <a class="text-dark" href="https://www.youtube.com/channel/UCbwXnUipZsLfUckBPsC7Jog" target="_blank">Online Tutorials</a>
        </li>
        <li>
          <a class="text-dark" href="https://www.youtube.com/sentdex" target="_blank">Sentdex</a>,
        </li>
        <li>
          <a class="text-dark" href="https://www.youtube.com/channel/UC4JX40jDee_tINbkjycV4Sg" target="_blank">TechWithTim</a>
        </li>
        
        <li>
          ...and to all others <i>(2Many2Mention)</i> whom I owe the ideas collaborated here, as well as to those video creators I watched who shared knowledge of how to use the different tools and platforms I needed to bring this online. <i>(Special mention: <b>StackOverflow</b> guys and gals!)</i>
        </li>
        <b>I OWE YOU ALL BIGTIME!
          <div class="fa fa-heart text-red"></div>
        </b>
      </ul>
      <p class="text-warning text-bold text-sm">"It's never too late to start. Your first blog will suck. Your first video will suck...but you won't get to your 50th without doing your first. So start."</p>
      With this, I hope to inspire those who want to learn programming, as
      well. 
      </p>
      <p>
        <small>
          <i>
            <b>P.S. All those linked Youtube channels above are fun and enjoyable to watch.</b>
          </i>
        </small>
      </p>
    </i>
  </div>
{% endblock %}