<div class="container-fluid">
	<div class="card">
		<h1>Hello world!</h1>
		<div class="card-body">
			This is a fully-functioning template for any website project you might think of. <br>
			From user registration to sign-ins and sign-outs, <br>
			Password change and forgot password options, <br>
			Automated default profile creation upon registration and CRUD features, <br>
			User search funtinality, <br>
			etc. <br> <hr>
			You go ahead and create your additional apps and do the linking and other frontend mods you need. <br>
			<h5>Have a good time playing around!</h5>
		</div>
	</div>
	
</div>