beautifulsoup4==4.11.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==3.4.8
defusedxml==0.7.1
Django==2.1.5
django-adminlte3==0.1.6
django-allauth==0.44.0
django-bootstrap-modal-forms==2.1.0
django-ckeditor==6.0.0
django-crispy-forms==1.11.2
django-js-asset==1.2.2
django-oauth2==3.2
filebrowser-safe==1.1.1
grappelli-safe==1.1.1
idna==3.10
markdown2==2.4.0
msgpack==0.6.2
oauthlib==3.1.0
Pillow==9.3.0
pycparser==2.22
PyJWT==2.0.1
PyMySQL==1.0.2
pyOpenSSL==20.0.1
python3-openid==3.2.0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
shortuuid==1.0.13
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
urllib3==2.2.3
