<!-- extends 'blog/blog_base.html' -->
{% load crispy_forms_tags %}


{% block pagedown_head %}
  <!-- {{ form.media }} --> <!-- This is needed if we are to show the create form on its own page. As used in this website, the create post form is inside a modal so, this variable/tag was not needed as it will ruin the modal's appearance. -->
{% endblock pagedown_head %}

{% block blog_content %}
<div class="container-fluid" style="padding-top: 5em">
  <div class="col">
    <div
      class="container"
      style="background-color: rgba(1, 0, 0, 0.2)"
    >
      <div class="content-section">
        <form method="POST">
          {% csrf_token %}
          <!-- this is a required line for added security -->
          <fieldset class="form-group">
            <legend class="border-bottom mb-1">Create Post</legend>
            {{ form|crispy }}
          </fieldset>

          <div class="form-group">
            <button class="btn btn-success" type="submit">Post</button>
          </div>
        </form>
      </div>
    </div>
</div>


{% endblock %}
