{% extends 'home/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Bootstrap Modal Forms -->
<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

<div class="container" style="padding-top: 5em">
  <div class="row">
    <h1 class="postTitle text-center mr-auto">{{ object.title }}</h1>
    <div>
      {% if object.author == user %}
        <a class="btn btn-outline-primary btn-sm mr-1 fa fa-arrow-circle-left" href="{% url 'forum-home' %}" title="Back to Forum">
        </a>
        <a class="btn btn-outline-success btn-sm mr-1 fa fa-edit" href="{% url 'post-update' object.id %}" title="Edit Post">
        </a>
        <a class="btn btn-outline-danger btn-sm mr-1 fa fa-trash" href="{% url 'post-delete' object.id %}" title="Delete Post">
        </a>
      {% else %}
        <a class="btn btn-outline-primary btn-sm mr-1 fa fa-arrow-circle-left" href="{% url 'forum-home' %}" title="Back to Forum">
        </a>
        <a class="btn btn-outline-info btn-sm mr-1" href="{% url 'user-posts' object.author %}">
          {{ object.author }}'s posts
        </a>
      {% endif %}
    </div>
  </div>
  <a class="col-md-2 mr-2" href="{% url 'profile' object.author %}">
    <img
      class="rounded-circle article-img ml-3 m-2"
      src="{{ object.author.profile.image.url }}"
      style="height: 40px; width: 40px;"
      />
    {{ object.author }}
  </a>
  <!--post.date_posted|date:"F, d, Y" == format without timestamp. -->
  <small class="text-muted ml-3 mr-3"> on {{ object.date_posted }}</small>
  {% if object.author == user %}
    <!-- Number of likes shown in a button form // this does not trigger anything as the author cannot like its own post -->
    <button class="btn-sm btn-secondary fas fa-thumbs-up"><i class="text text-white text-sm ml-1" title="Can't like your own post. ;)" style="float: right">{{object.total_likes}}</i></button>
  {% else %}
    <!-- Like button -->
    <form action="{% url 'like_post' object.pk %}" method="POST" style="float: right">
      {% csrf_token %}
      {% if post.liked %}
        <button type="submit" name="post_id" value="{{object.id}}" class="btn-sm btn-secondary fas fa-thumbs-up">
          <i class="text text-white text-sm ml-1">{{object.total_likes}}</i>
        </button> 
      {% else %}
      <button type="submit" name="post_id" value="{{object.id}}" class="btn-sm btn-primary fas fa-thumbs-up">
        <i class="text text-white text-sm ml-1">{{object.total_likes}}</i>
      </button> 
      {% endif %}
    </form>
  {% endif %}
</div>

<!-- 1st column for post body -->
<div class="row">
<div class="card col-md-8 p-1">
    <div class="article-content text-dark text-justify" style="padding: 2em; background: #fff;">{{ object.content|safe }}</div>
    {% if object.date_modified %}
      <small class="text-muted text-sm ml-auto"
        ><i>last modified: {{ object.date_modified }}</i>
      </small>
    {% endif %}

</div>

<!-- 2nd column for comments -->
<div class="card col p-1">
  <div class="card-title">
    <h6><i>Comments ({{ post.comments.count }})</i></h6>
  </div> 
    {% for comment in post.comments.all %}
    <blockquote class="blockquote bg-dark">
        <p class="mb-0">{{ comment.content|linebreaks }}</p>
        <small class="text-muted">{{comment.timestamp}}
        by: <cite title="Source Title">{{ comment.user }}
        </cite>
        </small>
    </blockquote>
    {% endfor %}
   
      

      <!-- Modal -->
      <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

          </div>
        </div>
      </div>



      <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>

      <!-- Button trigger modal -->
      <button id="add-comment" class="btn btn-primary" type="button" name="button">Add comment</button>























      <a href="{% url 'add-comment' object.pk %}">Add comment self page</a>
</div>
</div>

{% endblock content %}

