{% load static %}
<!-- 
  NOTE: This navigation bar is set to "expand at md" screen size. For more info, see: https://getbootstrap.com/docs/5.0/examples/navbars/.
  Don't know how to use those examples? Right-click on that page and select "View page source" then copy the block of code you feel like using.
 -->

 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SiteLogo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown04">
            <li><a class="dropdown-item" href="#">Contact Us</a></li>
            <li><a class="dropdown-item" href="#">Something else</a></li>
            <li><a class="dropdown-item" href="#">Another one</a></li>
          </ul>
        </li>
      </ul>
      <!-- This form is not working for user searching when no user is logged-in...so, I removed it. -->
      <!-- <form class="search-bar justify-content-start mr-3" onsubmit="return executeQuery();">
        <input type="text" class="form-control" name="q" id="nav-search-bar1" placeholder="User search...">
      </form> -->
      <div class="btn-group">
        <button class="btn btn-dark">
          <a href="/login">Log in</a>
        </button>
        <button class="btn btn-dark">
          <a href="/register">Register</a>
        </button>
        
      </div>
    </div>
  </div>
</nav>


<!-- <script type="text/javascript">
  function executeQuery() {
    var query = ""
    query = document.getElementById('nav-search-bar1').value;
    window.location.replace("{% url 'user-search' %}?q=" + query)
    return false
  }

</script> -->